<div class="about-us-container">
  <div class="left-side" style="height: 60%;">
    <img src="https://media.istockphoto.com/id/1289651550/photo/tropical-fruits-assortment-on-a-wooden-plate-stone-background.jpg?s=612x612&w=0&k=20&c=-uzZ5nKB4XQ7GNl8P0SJm8Igxq5CTDEwt3QS0V9VARQ=" alt="About Us Image">
  </div>
  <div style="margin-left: 20%; margin-top:-10%;">
    <br>
    <h2 style="color: #f84d0a ;font-family:'Times New Roman', Times, serif;">About Us</h2> <h3 style="font-size: 23px; font-family:Arial, Helvetica, sans-serif;">Welcome to The Flavourme - your ultimate destination for fresh and flavorful fruits! At The flavourme:</h3>
    <ul style="list-style-type: disc ; margin-left: 5%;">
      <br><li style="font-size: 20px;">We source the finest quality fruits from local farmers and suppliers.</li>
      <br><li style="font-size: 20px;">Our diverse selection caters to every taste and preference.</li>
      <br><li style="font-size: 20px;">Experience the goodness of nature with every bite at The Flavourme!</li>
    </ul>
    <br>
    <br>
    <p style="font-size: 20px; animation: blink 1s infinite;">Thank you for choosing The Flavourme.</p>
    <br>
    <div class="form-group">
      <a href="**" routerLinkActive="active" class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg" style="margin-left: 10px;">Read More...</a>    </div>
  </div>
</div>
