.active{
    border-bottom: 2px solid #7c3aed;
    transform: scale(1.1);
    transition: boarder-bottom 0.3s ease,color 0.3s ease ,transform  0.3s ease;
}
.Sans-serif-text {
    font-family: Sans-serif;
  }
  .fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

.container {
    padding: 20px 20px; 
}

header .icons a{
    font-size: 1.2rem;
    color: #ff4000;
    margin-left: 1.5rem;
   
}

header .icons a:hover{
    color:rgb(226, 180, 169);
}

header #toggler{
    display:none;

}

header .fa-bars{
    font-size: 1.1rem;
    color: #f19b83;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 1rem solid rgb(250, 246, 246);
    display: none;

}