<div class="text-center" >
    <h1 class="mb-4 text-6xl font-semibold text-red-500">404</h1>
    <p class="mb-4 text-lg text-gray-600">Oops! Looks like you're lost.</p>
    <div class="animate-bounce">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="mx-auto h-16 w-16 text-red-500">
            <!-- Central circle -->
            <circle cx="12" cy="12" r="6" />
            <!-- Echo circles with decreasing opacity -->
            <circle cx="12" cy="12" r="10" opacity="0.7" />
            <circle cx="12" cy="12" r="14" opacity="0.5" />
            <circle cx="12" cy="12" r="18" opacity="0.3" />
        </svg>
    </div>
    <p class="mt-4 text-gray-600">Lets's get you back <a routerLink="/" routerLinkActive="active" class="text-blue-500 cursor-pointer">home</a>.</p>
</div>